<template>
  <div id="content">
    <!--nav-->
    <div class="navBar">
        <img src="./assets/img_logo.png" />
    </div>
    <div class="body">
        <div class="body-head"> 
            <div>
                <span>EaseStrategy致力于打造</span><br />
                <span>一站式大数据分析平台&nbsp;&#44;</span><br />
                <p>提供探索式的可视化报表、统一化的<br />数据中心、业务整合的行业解决方案</p>
                <button>申请合作</button>
            </div>
        </div>
        <!--
        <div class="body-top">
           <div class="body-top-up">
              <div class="left">
                  <img src="./assets/icon_baobiao.png"/>
                  <span>可视化报表</span>
                  <p>多维事件分析、漏斗分析、留存分析、用户分群</p>
              </div>
              <div class="hr"></div>
              <div class="middle">
                  <img src="./assets/icon_shuju.png"/>
                  <span>数据中心</span>
                  <p>记录多种数据源、不同终端</p>
              </div>
              <div class="hr"></div>
              <div class="right">
                  <img src="./assets/icon_fangan.png"/>
                    <span>行业解决方案</span>
                    <p>我们为政府、金融</p>
              </div>
            </div>
            <div class="body-top-down">
              <button>了解更多</button>
            </div>
        </div>
        <div class="body-middle">
          <div class="body-middle-bottom"></div>
          <div class="body-middle-middle"></div>
          <div class="body-middle-top">
            <p>&quot;Without big data analytics,companies are blind and deaf,wandering out<br />
            onto the Web like deer on a freeway."<br />
            Geoffrey Moore,Auther of Crossing the Chasm 
            </p>
          </div>
        </div>
        <div class="body-buttom">
          <div class="body-buttom-up">
              <div class="left"></div>
              <div class="right">
                  <span>关于我们</span>
                  <p>EaseStrategy是一家专业的大数据分析技术服务商</p>
              </div>
          </div>
          <div class="body-buttom-down">
            <button>加入我们</button>
          </div>
        </div>-->
    </div>
    <div class="footer">
      <div class="footer-content">
          <p>联系我们 : contact@easestrategy.com&nbsp;电话 : 00000000</p>
          <p>地址 : 南京市秦淮区紫丹路9号白下高新园区</p>
          <p>&copy;EaseStrategy&nbsp;2016-2017 &Iota; Term&#44; Conditions and Privacy Policy &Iota; 苏ICPxxxxxxx号</p>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
html{
  height:100%;
}
*{
  margin:0px;
  padding:0px;
}
html{
  height:100%;
}
#content{
  width:1200px;
  height:100%;
  margin:0px auto;
}
.navBar{
  width:1200px;
  height:100px;
  background-color: red;
}
.navBar img{
  margin-top:21.5px;
}
.fixedNav{
  position:fixed;
  z-index:1;
  background-color:#32A0FF;
}
.body{
  width:1200px;
  height:1680px;
}
.body-head{
  height:560px;
  position:relative;
  z-index:-1;
  background:url("../images/banner1.png") no-repeat center;
}
.body-head div{
  color:#32A0FF;
  font-size:35px;
  width:400px;
    position: absolute; 
  z-index:0;
  top:100px;
  right:46px;
  font-weight:bold;
  font-family:Microsoft YaHei;
  padding:0px;
}
.body-head div span:first-child{
    color:white;
    
}
.body-head div p{
  color:white;
  font-size:24px;
  font-weight:normal;

}
.body-head button{
    color:#32A0FF;
    width:400px;
    height:60px;
    font-size:24px;
    border-radius:5px;
    margin-top:60px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    background-color:#32A0FF;
}
.body-top{
    height:600px;
}
.body-top-up{
  width:1200px;
  height:500px;
}
.body-top-up div{
  width:306px;
  height:480px;
  float:left;
  margin:10px 46px;
  padding-top:10px;
}
.body-top-up #hr{
  width:1px;
  height:460px;
  margin:0px;
  margin-top:20px;
  background-color:#DDDDDD;
}
.body-top-up div:last-child{
  border:0px;
}
.body-top-up img{
  display:block;
  margin:0px auto;
}
.body-top-up span{
  color:#333333;
  display:block;
  margin:0px auto;
    text-align:center;
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    
}
.body-top-up p{
  color:14px;
    font-family:Microsoft YaHei;
    margin-top:30px;
    padding:0px;
}
.body-middle{
    width:1200px;
    height:540px;
    position:relative;
}
.body-middle-bottom{
   width:1200px;
  height:540px;
  position:absolute;
  z-index:-2;
  background:url("../images/banner2.png") no-repeat center;
}
.body-middle-middle{
  width:1200px;
  height:540px;
    position:absolute;
    z-index:-1;
    background:url("../assets/img_line.png") no-repeat center;
}
.body-middle-top{
  display:table;
  width:1108px;
  height:200px;
    position:absolute;
    z-index:0;
    margin: auto;  
    position: absolute;  
    top: 0; left: 0; bottom: 0; right: 0;
    border:1px solid white;
}
.body-middle-top p{
  color:white;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
}
.body-buttom{
  width:1200px;
  height:540px;
}
.body-buttom-up div{
  width:600px;
  height:420px;
  float:left;
  margin-top:30px;
}
.body-buttom-up .left{
  background:url('../assets/img_map.png') no-repeat center;
}

.body-buttom-up .right span{
  color:#333333;
  font-size:40px;
  font-family:Microsoft YaHei;
}
.body-buttom-up .right p{
  
  color:#666666;
  font-size:20px;
  margin-top:30px;
  text-indent:4em;
  font-family:Microsoft YaHei;
}
.body-buttom-down{
  width:1200px;
  height:120px;
}
button{
  display:block;
  color:#32A0FF;
  width:160px;
  height:60px;
  margin:5px auto;
  font-size:24px;
  border-radius:5px;
  font-family:Microsoft YaHei;
  background-color:white;
  border:1px solid #32A0FF;
}
.footer{
  width:1200px;
  height:210px;
  display:table;
  background-color:#323232;
}
.footer-content{
  vertical-align:middle;
    display:table-cell;
}
.footer-content p{
  color:#BBBBBB;
    text-align:center;
    font-size:16px;
    font-family:Microsoft YaHei;
    margin-top:5px;
}
</style>
